lab_template.aux
lab_template.fdb_latexmk
lab_template.fls
lab_template.log
lab_template.synctex.gz
report.aux
report.fdb_latexmk
report.fls
report.log
report.synctex.gz
report.out
lab_report.aux
lab_report.fdb_latexmk
lab_report.fls
lab_report.log
lab_report.out
lab_report.synctex.gz
.hdl_checker
11062528/part1.mov
11062528/part2.mov
11062528.zip
